<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Gamer+</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>

  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.scss" />

</head>

<body>
  <div id="wrapper">
    <div class="box">
      <section id="content"></section>
    </div>
  </div>

<div class="slider">
  <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
  <input type="radio" name="slider" title="slide2" class="slider__nav"/>
  <input type="radio" name="slider" title="slide3" class="slider__nav"/>
  <input type="radio" name="slider" title="slide4" class="slider__nav"/>
  <input type="radio" name="slider" title="slide5" class="slider__nav"/>
  <input type="radio" name="slider" title="slide6" class="slider__nav"/>
  <input type="radio" name="slider" title="slide7" class="slider__nav"/>
  <input type="radio" name="slider" title="slide8" class="slider__nav"/>
  <input type="radio" name="slider" title="slide9" class="slider__nav"/>
  <div class="slider__inner">
    <div class="slider__contents"><i class="slider__image fa fa-codepen"></i>
      <img id="char" src="/assets/img/BarbarianChar.png" alt="character"/>
    </div>
    <div class="slider__contents"><i class="slider__image fa fa-newspaper-o"></i>
      <img id="char" src="/assets/img/BardChar.png" alt="character"/>
    </div>
    <div class="slider__contents"><i class="slider__image fa fa-television"></i>
      <img id="char" src="/assets/img/BeastMasterChar.png" alt="character"/>
    </div>
    <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
      <img id="char" src="/assets/img/DruidChar.png" alt="character"/>
    </div>
    <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
      <img id="char" src="/assets/img/FighterChar.png" alt="character"/>
    </div>
    <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
      <img id="char" src="/assets/img/PirateChar.png" alt="character"/>
    </div>
    <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
      <img id="char" src="/assets/img/PaladinChar.png" alt="character"/>
    </div>
    <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
      <img id="char" src="/assets/img/RogueChar.png" alt="character"/>
    </div>
    <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
      <img id="char" src="/assets/img/ShamanChar.png" alt="character"/>
    </div>
  </div>
</div>
  
</div>
  <div class="container">
    <section id="accountCreator"></section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/assets/creationBundle.js"></script>
    <script>
      $('.carousel').carousel();
    </script>

</body>

</html>