body{
    background-color: #777B80;
    margin:0;
    padding:0;
}
/* #loginPage {
    background-color: #8989bb;
    background-image: linear-gradient(315deg, #3B3E40 0%, #691824 74%);
} */

nav{
    width:100vw;
    height: 75px;
    background-color: #E83551;
    box-shadow: 0px 0px 10px #691824; 
    position: fixed;
    top:0;
    left:0;
    padding-top: 6px;
}

#nav{
    width:90%;
    margin:auto;
    display: flex;
    margin-left: 10px;
    align-items: center;
    background-color: inherit;
}

#wrapper{
    width: 80%;
    margin: 150px auto 0px auto;
}

.box{
    margin-top: 5%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    text-align: center;
}

.logo {
    width: 80px;
    border-radius: 10px;
}

#messageArea {
    display:none;
    color: #CF3047;
}

#accountData {
    grid-column-start: 1;
    border-right: 1px solid lightgray;
}

#domos {
    align-content: center;
    text-align: center;
    grid-column-start: 2;
}

#makeDomo {
    grid-column-start: 3;
    border-left: 1px solid lightgray;
}

#content {
    grid-column-start: 2;
    width: 100%;;
}

/*LOGIN FORM START*/
.mainForm{
    font-size: 16px;
    width: 100%;
    display: grid;
	background: #691824;
	padding: 30px 30px 15px 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #394D61;
    grid-column-start: 2;
}

.mainForm input[type=submit],
.mainForm input[type=button],
.mainForm input[type=number],
.mainForm input[type=text],
.mainForm input[type=hidden],
.mainForm textarea,
.mainForm label
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #D5DEE6;
    margin-bottom: 15px !important;
    align-content: center;
}

.mainForm label {
    margin-right: 10px;
	margin-bottom: 10px;
}

.mainForm label > span{
	display: inline-block;
	/* float: left; */
	width: 150px;
}

#accountForm label{
    display: inline;
}

#accountForm input[type=text],
#accountForm input[type=number],
#accountForm input[type=password] {
    text-align:right;
    align-content: center;
    margin-bottom: 15px !important;
}

.mainForm input[type=text],
.mainForm input[type=number],
.mainForm input[type=password] 
{
	background: transparent;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 275px;
	outline: none;
	padding: 0px 0px 0px 0px;
    font-style: italic;
    font-size: 1.5em;;
    margin-bottom: 15px;
    color: #D5DEE6;
    margin: auto;
}
.mainForm textarea{
	font-style: italic;
	padding: 0px 0px 0px 0px;
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 275px;
	overflow: hidden;
	resize:none;
    height:20px;
}

.mainForm textarea:focus, 
.mainForm input[type=text]:focus,
.mainForm input[type=number]:focus,
.mainForm input[type=password]:focus,
.mainForm input[type=email] :focus
{
	border-bottom: 1px dashed #D9FFA9;
}

.mainForm input[type=submit],
.mainForm input[type=button]{
	background: #576E86;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
    color: #A8BACE;
    display: block;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px !important;
}
.mainForm input[type=submit]:hover,
.mainForm input[type=button]:hover{
    background: #394D61;
}
/*LOGIN FORM END*/


/* BUTTON START */
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

.navButton, .navButton input[type="submit"] , .navButton input[type="reset"]
{
    width: 100%;
    height: 100%;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

div[class*=button] {
    height: 33.33%;
    width: 10%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

/* .box { background-color: #FF6766; } */

.btn {
    line-height: 25px;
    height: 40px;
    text-align: center;
    width: 1000%;
    cursor: pointer;
}

.btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
}
.btn-one span {
    transition: all 0.3s;
}
.btn-one::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
}
.btn-one:hover span {
    letter-spacing: 2px;
}
.btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
}
.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: 1; */
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
}

.btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
}

/* BUTTON STUFF END */

/* Quests / Domo CSS Start */

.domo {
    width: 100%;
    height: auto;

}

.domo img{
    width: 400px;
    grid-column-start: 1;
}

/* Quests / Domo CSS End */


.grid-box {
    background-color: #B2B9BF;
    border: 2px solid #777B80;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 15px 15px 15px;
    box-shadow: 6px 6px 5px grey;
}

.stats{
    text-align: left;
}

.stats ul{
    list-style-type:none;
}

#profileContent {
    position: absolute;
}