html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #8989bb;
    background-image: linear-gradient(315deg, #3B3E40 0%, #691824 74%);
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}
.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #E83551;
}

nav:nth-child(1) {
    padding-left: 25px;
}

#accountForm {
    margin-top: 25%;
    text-align: center;
    align-content: center;
}

.grid-box {
    background-color: #B2B9BF;
    border: 2px solid #777B80;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 15px 15px 15px;
    box-shadow: 6px 6px 5px grey;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #E83551;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #66bdff;
}

.domoForm, #accountData {
    border: 2px solid #691824;
    display: block;
    margin-top:0px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top:10px;
    background-color: #E83551;
    border-radius: 8px;
}

.tempHelp {
    display: inline-block;
}

.domoForm label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: white;
}
#accountData h3 {
    margin-top: 0px !important;
    margin-left: 10px;
    font-size: 1.2em;
    color: white;
}

.domoForm input[type=text] {
    float:left;
}

.makeDomoSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    background-color: #E83551;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

.makeDomoSubmit:link, .makeDomoSubmit:visited, .makeDomoSubmit:hover, .makeDomoSubmit:active {
    color: white;
}

.makeDomoSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #E83551;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #E83551;
    border-radius: 2px;
    border-color: #691824;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #691824;
}

.form-creator input[type=submit],
.form-creator input[type=button],
.form-creator input[type=text],
.form-creator input[type=email],
.form-creator input[type=number],
.form-creator textarea,
.form-creator label
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.5em;
    margin-top: 10px;
}

.form-creator label {
	display:block;
	margin-bottom: 10px;
}
.form-creator label > span{
	display: inline-block;
	float: left;
	width: 150px;
}
.form-creator input[type=text],
.form-creator input[type=email],
.form-creator input[type=number]
{
	background: transparent;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 275px;
	outline: none;
	padding: 0px 0px 0px 0px;
	font-style: italic;
}
.form-creator textarea{
	font-style: italic;
	padding: 0px 0px 0px 0px;
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 275px;
	overflow: hidden;
	resize:none;
	height:20px;
}

.form-creator textarea:focus, 
.form-creator input[type=text]:focus,
.form-creator input[type=email]:focus,
.form-creator input[type=number]:focus
{
	border-bottom: 1px dashed #D9FFA9;
}

.form-creator input[type=submit],
.form-creator input[type=button]{
	background: #576E86;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	color: #A8BACE;
}
.form-creator input[type=submit]:hover,
.form-creator input[type=button]:hover{
background: #394D61;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #E83551;
}

#domoMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#domoMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#domo {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#domos {
    width: 40%;
    min-width: 400px;
    border: 2px solid #E83551;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

.domo {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #E83551;
    border-radius: 4px;
    background-color: #E83551;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.domo:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #66bfff;
}

img.domoFace {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

h3.emptyDomo {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.domoName {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}

h3.accountName, h3.accountAthletics, h3.accountWisdom, h3.accountCharisma {
    float:left;
    width: 150px;
    font-weight: normal;
    font-size: 1.5em;
}

h3.domoAge{
    float:right;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

.domo:first-child {
    margin-top: 10px;
}

.domo:last-child {
    margin-bottom:10px;
}